%h1 Users
%p= link_to 'New user', new_user_path, class: 'btn btn-primary'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= User.human_attribute_name :email
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for user in @users
      %tr{ :class => cycle(:odd, :even) }
        %td= user.email
        %td.action= link_to 'show', user
        %td.action= link_to 'edit', edit_user_path(user)
        %td.action= link_to 'destroy', user, :confirm => 'Are you sure?', :method => :delete
