.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to "Robb's Daily Photo", root_path, {:class => 'brand'}
      .nav-collapse
        %ul.nav
          %li= link_to "History", photos_path
          %li= link_to "Subscribe", new_subscriber_path
          -if current_user
            %li= link_to "Upload Photo", new_photo_path
            %li= link_to "Logout #{current_user.email}", logout_path

