= form_for(@photo, html: {class: 'form-horizontal'}) do |f|
  - if @photo.errors.any?
    #errorExplanation.alert-message.block-message.error
      %h2= "#{pluralize(@photo.errors.count, 'error')} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Photo Details  
    .control-group
      = f.label :title, 'Title', class: 'control-label'
      .controls
        = f.text_field :title
    .control-group
      = f.label :date_taken, 'Date Taken', class: 'control-label'
      .controls
        = f.text_field :date_taken
    .form-actions
      = f.submit 'Submit', class: 'btn primary'

- if @photo.image.present?
  = image_tag @photo.image.url(:medium)
