%h1 Past Photos

- if can? :create, Photo
  %p= link_to 'New photo', new_photo_path, class: 'btn primary'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Photo
      %th Published
      %th= Photo.human_attribute_name :title
      -if can? :edit, Photo
        %th Actions
  
  %tbody
    - for photo in @photos
      %tr{:class => cycle(:odd, :even) }
        %td{class: 'span2', style: 'text-align: center'}
          = link_to(image_tag(photo.image.url(:thumb)), photo_path(photo))
        %td{class: 'span3'}= photo.created_at.to_s(:med)
        %td= link_to photo.title, photo
        -if can? :edit, Photo
          %td
            = link_to 'Edit Photo', edit_photo_path(photo), class: 'btn'
            - unless photo.state == 'published'
              = link_to 'Email Photo', photo_publish_path(photo), class: 'btn btn-primary'