%h1= @photo.title

= image_tag @photo.image.url(:medium)

%dl
  %dt= Photo.human_attribute_name :date_taken
  %dd= @photo.date_taken if @photo.date_taken.present?

#description
  %p= @photo.description

#exif
  %p= "Camera: #{@photo.camera_model}" if @photo.camera_model.present?

= link_to 'Download Photo', photo_download_path(@photo), class: 'btn btn-primary'
