%h1 Show photo
%p
  = link_to 'back', photos_path, class: 'btn'
  = link_to 'edit', edit_photo_path(@photo), class: 'btn primary'

%dl
  %dt= Photo.human_attribute_name :title
  %dd= @photo.title
  %dt= Photo.human_attribute_name :date_taken
  %dd= @photo.date_taken

= image_tag @photo.image.url
